<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h3>CHECK YOUR ROUTES FOLDER! THIS ROUTE IS NOT DEFINED</h3>
    </main>
    

<%- include('includes/end.ejs') %>
   
 
